body {
    width: 960px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
    background : #E5E2D4 url("background.png") repeat-x scroll 0 0;
    font : 13px/1.231 sans-serif;
}
small {
    font-size: 0.8em;
}

.main {
    text-align: center;
    padding-top: 50px;
    
    .navtab 
    {
        li.first
        {
            margin-left:40%;
        }
    }
    .startnow {
        text-shadow: #040 1px 1px;
        font-weight: bold;
        font-size:135%;
    }
    
    #select_all_wrapper {
        background: transparent url(/assets/recommend-new.png) 89px 0.7px no-repeat;
        pointer: cursor;
        width: 140px;
        margin-left: -200px;
        position: relative;
        top: 0;
        left: 155px;
        padding-bottom: 39px;
        padding-right: 160px;
        
        label {
            width : auto;
            font-size : 105%;
            font-weight : bold;
        }
        
        input {
            vertical-align : middle;
            margin-left: -46px;
            margin-top: 7px;
        }
    }
}

ul {
    padding-top: 30px;
    list-style-type: none;
}

ul li {
}

img { 
}

.main  {
    h2 {
     color:#040;
    }
}


.features {
  margin:40px 0;
  font-size: 15px;
  
  ul {
   padding : 0;   
  
    li {
      height : 160px;
      display : inline-block;
      width : 33%;
      text-align: center;
      img {
        display : block;
        margin : 0 auto;
      }
      color : #000;
    }
  }
}

.features h3, .faq h3 {
  width : 200px;
  margin : 0 auto;
  padding : 0;
  
} 

footer {
    border: 0 none;
    h1.logo {
     opacity:0.45;
     float:right;
     position:fixed;
     bottom:35px;
     right:50px;
     background: transparent url("/assets/goyaka-logo.png") no-repeat 0 2px;
     font-family: 'Salsa', cursive;
     font-size : 21px;
     padding-left : 36px;
     padding-top : 13px;
     margin-top: 10px;
     color:#040;
     margin-bottom:-2px;
    }
    
    h1.logo:hover {
        opacity:1;
    }
    a:hover {
        opacity:1;
        text-decoration:none;
    }
}

.faq {
 .snippet 
 {
    width : 600px;
    min-height : 100px;
    border : 1px solid #404040;
    border-radius: 4px;
    margin : 0 auto;
    margin-top : 10px;
    background-color : #D5D2C4;
    padding: 5px;
    
    h3 {
     padding : 0;
    }
    
    ul {
        padding: 0;
        margin : 0;
        li {
            color: #000;    
        }
    }
    
 }
}

#goyaka-chat {
  
  .goyaka-menu {
     background-color: #57663D !important;
  }
}

.push-down {
    margin-top: 10px;
}

.transfer-info {
    a {
        color: #040;
    }
    
    text-align: center;
}

#upload-photos-form {
    margin-top: 30px;
}


.pgStyle1{ 

border-bottom: 1px dotted #CCC;
border-top: 1px dotted #CCC;

td {
    border: 0 none;
}

var {
    display: block;
    float: left;
    background-color:#fff;
    border: 1px solid #CCC;
    color: black;
    width: 20px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    font-size: 85%;
    font-style: normal;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    -webkit-box-shadow: rgba(0,0,0,.15) 0 1px 2px;
    -moz-box-shadow: rgba(0,0,0,.15) 0 1px 2px;
    -o-box-shadow: rgba(0,0,0,.15) 0 1px 2px;
    box-shadow: rgba(0,0,0,.15) 0 1px 2px;
}
  
td.t {
    vertical-align:middle;
}

.selected var {
    background: #FFF7C0;
    color: black;
    border: 1px solid #E6DEAD;
    font-weight: bold;
}

.done var {
background: #CCC;
}

}

.like-button {
    margin:0 450px;
    width:200px;
}

#photo-count {
 margin-top:5px;
 font-size : 110%;
}