body {
    width: 960px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
    background : #E5E2D4 url("/assets/background.png") repeat-x scroll 0 0;
    font : 13px/1.231 sans-serif;
}
small {
    font-size: 0.8em;
}

.main {
    text-align: center;
    padding-top: 50px;
    
    .startnow {
        text-shadow: #040 1px 1px;
        font-weight: bold;
        font-size:135%;
    }
}

ul {
    padding-top: 30px;
    list-style-type: none;
}

ul li {
    background: url('/images/tick.png') top left no-repeat; 
}

img { 
    padding: 10px 10px;
    vertical-align: middle;
}

.main  {
    h2 {
     color:#040;
    }
}


.features {
  margin:40px 0;
  
  ul {
   padding : 0;   
  
    li {
      height : 160px;
      display : inline-block;
      width : 33%;
      text-align: center;
      img {
        display : block;
        margin : 0 auto;
      }
      color : #000;
    }
  }
}

.features h3, .faq h3 {
  width : 200px;
  margin : 0 auto;
  padding : 0;
  
} 

footer {
    border: 0 none;
    h1.logo {
     opacity:0.45;
     float:right;
     position:fixed;
     bottom:35px;
     right:50px;
     background: transparent url("/assets/goyaka-logo.png") no-repeat 0 2px;
     font-family: 'Salsa', cursive;
     font-size : 21px;
     padding-left : 36px;
     padding-top : 13px;
     margin-top: 10px;
     color:#040;
     margin-bottom:-2px;
    }
    
    h1.logo:hover {
        opacity:1;
    }
    a:hover {
        opacity:1;
        text-decoration:none;
    }
}

.faq {
 .snippet 
 {
    width : 500px;
    min-height : 100px;
    border : 1px solid #404040;
    border-radius: 4px;
    margin : 0 auto;
    margin-top : 10px;
    background-color : #D5D2C4;
    
    h3 {
     padding : 0;
    }
    
    ul {
        padding: 0;
        margin : 0;
        li {
            color: #000;    
        }
    }
    
 }
}

#goyaka-chat {
  
  .goyaka-menu {
     background-color: #57663D !important;
  }
}

.push-down {
    margin-top: 10px;
}