/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require "bootstrap"
 *= require "app"
 *= require "auth"
 *= require "flickr"
 *= require_self
*/

#sets {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 15px;
}

#sets .set {
    border: 1px solid #cccccc;
    padding: 2px 0px;
    height: 140px;
    overflow: hidden;
    background: #cccccc;
    cursor: pointer;
}

#sets .set label {
    width: 80%;
    text-align: left;
    padding: 0 10%;
}
