/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require "bootstrap"
 *= require "app"
 *= require "auth"
 *= require "flickr"
 *= require_self
*/

#sets {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 15px;
}

#sets .set {
    display: inline-block;
    width: 150px;
    padding: 2px 0px;
    margin: 0px 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: top;
}
#sets .set label {
    padding: 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#sets .set .cover {
    border: 2px solid transparent;
    background: transparent;
    min-height: 75px;
}
#sets .set:hover .cover {
    border: 2px solid #999999;
    border-radius: 10px;
}
#sets .set .cover img{
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0px;
}

#sets .set:hover .cover img{
    padding: 0px;
}

