/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#sets {
    text-align: left;
    margin: 0 auto;
    width: 600px;
    padding-top: 20px;
    font-size: 15px;
    
    .set {
        padding: 5px 0px;
    }
}