/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require "bootstrap"
 *= require "app"
 *= require "auth"
 *= require "flickr"
 *= require_self
*/

#sets {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 15px;
}

#sets .set {
    display: inline-block;
    width: 150px;
    padding: 2px 0px;
    margin: 0px 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: top;
}
#sets .set label {
    padding: 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#sets .set .cover {
    border: 2px solid transparent;
    background: transparent;
    min-height: 75px;
}

#sets .set .cover img.thumb {
    border: 1px solid #ccc;
    padding : 5px;
    background-color:#fff;
    border-radius: 5px;
}

#sets .set:hover .cover img.thumb,
#sets .set:hover .cover img.selected {
    background-color: #FAE65C;
}

#sets .set .cover img.check {
    position: relative;
    top: -18px;
    right: 100px;
    float: right;
    visibility:hidden;
}

#sets .set:hover .cover img.check,
#sets .set .cover img.selected {
    visibility: visible;
    background-color:transparent;
}



#sets .set input {
    display : none;
}


#sets .set .cover .count {
    float: left;
    position: relative;
    display: block;
    background-color: white;
    border: 1px solid #444;
    border-radius: 20px;
    font-size: 9px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    color: #111;
    text-align: center;
    left: 105px;
    top: -91px;
    z-index: 10000;
}

#sets .set .thumb-title {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: -20px;
}