<ul id="steps" class="tabs row">
    <li class="<%= @step1 %>"><a href="facebook-login"><var>1</var><b id="pagecircle1">Sign in into Facebook</b></a></li>
    <li class="<%= @step2 %>"><a href="services-login"><var>2</var><b id="pagecircle2">Sign in to Flickr/Picasa</b></a></li>
    <li class="<%= @step3 %>"><a href="migrate"><var>3</var><b id="pagecircle3">Migrate albums</b></a></li>
</ul>
