<ul id="steps" class="tabs">
    <li class="<%= @step1 %>"><var>1</var><b id="pagecircle1">Sign in into Facebook</b></li>
    <li class="<%= @step2 %>"><var>2</var><b id="pagecircle2">Sign in to Flickr/Picasa</b></li>
    <li class="<%= @step3 %>"><var>3</var><b id="pagecircle3">Migrate photos</b></li>
</ul>
