<% content_for :content do %>

<div class="main">
    <h2> Easily migrate your photos to Facebook </h2>
    <% if @photo_count %>
    <span id="photo-count"><%= @photo_count %> photos moved so far</span>
    <% end %>
    <div class="row push-down">
        <div class="span2" >
            &nbsp;
        </div>
        <div class="span2">
            <img src = "/assets/flickr.png" style="padding-top: 30px;">    
        </div>
        <div class="span2">
            <img src="/assets/arrow.png" style="padding-top: 50px;"> 
        </div>
        <div class="span3">
            <img src = "/assets/facebook.png">
        </div>
        <div class="span2">
            <img src="/assets/arrow-reverse.png" style="padding-top: 50px;"> 
        </div>
        <div class="span2">
            <img src = "/assets/picasa.png" style="padding-top: 30px;">
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div style="padding-top: 30px;">

        <a href="/main" class="startnow large btn success"> Get started for FREE </a> <br>
    </div>
    
    
    <div class="features">
        <ul>
            <li> <img src="/assets/facebook-timeline-logo-128.jpg"> Puts your photos in <br> Facebook <strong>timeline</strong>! </li>
            <li> <img src="/assets/private.png"> By default, all your uploaded photos <br> are <strong>Private</strong>. Only you will see it.</li>
            <li> <img src="/assets/album.png"> Creates a Facebook photo album<br> for every Flickr set. </li>
        </ul>
    </div>
    
    <div class="faq">
        <h3>Questions</h3>
        <div class="links">
            <a href="#whyfacebook" id="whyfacebook">Why facebook?</a>  · <a href="#spam" id="spam">We wont spam your feed</a> 
             · <a href="#about" id="about">About</a> · <a href="#technology" id="technology">Technology</a> 
        </div>
        
        <div id="whyfacebook-expand" class="hide snippet">
            <h4>Why Facebook? </h4>
            <ul>    
                <li>Facebook photos are more social. <strong>Tagging</strong> just nails it.</li>
                <li>Share with your <strong>schoolmates, family</strong> or <strong>no one</strong>.</li>
                <li><strong>Timeline</strong>! We love facebook's timeline. Though it is still buggy.</li>
                <li>Picasa and Flickr are <strong>dying</strong>. I don't want to pay for my flickr pro account</li>
                
                <small>I love <a href="http://snapjoy.com/">snapjoy</a>'s UI. But they <a href="http://twitter.com/Snapjoy/status/138313852008927232">don't</a> allow import from flickr. Also, social circle in Snapjoy is something I have to build. Facebook fits the bill.</small>
            </ul>
        </div>
        
        <div id="spam-expand" class="hide snippet">
            <h4>We won't spam your feed</h4>
            <ul>
                <li>We <strong>won't share</strong> pigs and farm animals in your news feed.</li>
                <li>We just want you to enjoy your photos in one single place</li>
            </ul>
        </div>
        
        <div id="about-expand" class="hide snippet">
            <h4>About</h4>
            <ul>
                <li>Built by <a href="http://twitter.com/alagu">@alagu</a>, <a href="http://twitter.com/haxplorer">@haxplorer</a> and <a href="http://twitter.com/suren">@suren</a>.</li>
            </ul>
        </div>
        
        <div id="technology-expand" class="hide snippet">
            <h4>Technology</h4>
            <ul>
                <li> Ruby on Rails hosted on AWS </li>
                <li> Beanstalk for queues, MongoDB for meta data and Memcache for counters</li>
                <li> Facebook, Flickr and Google API </li>
                <li> Bootstrap CSS from Twitter </li>
                <li> Colorstroked icon set from <a href="http://mfayaz.deviantart.com/">Mohamed Fayaz Ismail</a> </li>
            </ul>
        </div>
        
    </div>
</div>

<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "app" %>
<% end %>
