<div class="main">
    <h2> Easily migrate your photos from Flickr into Facebook </h2>
    <div>
        <img src ="/assets/flickr.png"> 
        <img src="/assets/arrow.png" style="padding-top: 30px;"> 
        <img src = "/assets/facebook.png">
    </div>
    <div style="padding-top: 30px;">
        <a href="/facebook-auth/"> <img src="/assets/facebook-login-button.png" /> </a> <br>
        <small> Rest assured we won't post in your timeline! </small>
    </div>
    <br>
    <div class="hide"> 
        <ul>
            <li> connects to both Flickr and Facebook via OAuth </li>
            <li> creates a Facebook album for every Flickr set </li>
        </ul>
    </div>
</div>
