<div class="main">
    <h2> Easily migrate your photos to Facebook </h2>
    <div class="row">
        <div class="span4"> &nbsp; </div>
        <div class="span3">
            <img src = "/assets/flickr.png">    
        </div>
        <div class="span2">
            <img src="/assets/arrow.png" style="padding-top: 30px;"> 
        </div>
        <div class="span3">
            <img src = "/assets/facebook.png">
        </div>
        <div class="clear"></div>
    </div>
    
    <div style="padding-top: 30px;">
        <a href="/main" class="startnow large btn success"> Get started for FREE </a> <br>
    </div>
    
    
    <div class="features">
        <ul>
            <li> <img src="/assets/facebook-timeline-logo-128.jpg"> Puts your photos in Facebook timeline! </li>
            <li> <img src="/assets/private.png"> By default, all your uploaded photos are <strong>Private</strong>. Only you will see it.</li>
            <li> Creates a Facebook photo album for every Flickr set. </li>
        </ul>
    </div>
    
    <div class="faq">
        <h3>Questions</h3>
        <div>
            <a href="#whyfacebook" id="whyfacebook">Why facebook?</a>  · <a href="#spam" id="spam">We wont spam your feed</a> · 
            <a id="picasa" href="#picasa">We wont spam your feed</a> · <a href="#about">About Us</a>
        </div>
    </div>
    
</div>