<div class="main">
    <h2> Easily migrate your photos from Flickr into Facebook </h2>
    <div class="row">
        <div class="span4"> &nbsp; </div>
        <div class="span3">
            <img src = "/assets/flickr.png">    
        </div>
        <div class="span2">
            <img src="/assets/arrow.png" style="padding-top: 30px;"> 
        </div>
        <div class="span3">
            <img src = "/assets/facebook.png">
        </div>
        <div class="clear"></div>
    </div>
    
    <div style="padding-top: 30px;">
        <a href="/main" class="large btn success"> Start Now! </a> <br>
        <small> Puts your photos in Facebook timeline!  </small>
    </div>
</div>