<% content_for :content do %>

<div class="main">
    <% if @fb_user and @flickr_user %>
        <div class="alert-message block-message info">
            <b> Congrats!</b> You have now authenticated both Flickr and Facebook accounts.
        </div>
        <div id="sets">
        </div>
    <% else %>
    <% end %>
</div>


<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>
</script>

<% if @fb_user and @flickr_user %>
<script id="sets_list_template" type="text/x-jquery-tmpl">
<div>
    <h4> Choose Flickr sets that you want to migrate to Facebook. </h4>
    <%= form_tag("flickr/import-sets", :method => "post") do %>
        <div class="sets">
            {{each(index, set) sets}}
                <div class="set">
                    <label>
                        <div class="cover">
                            <img id="${set.primary}" src="/assets/circle-loading.gif" style="margin: 0 auto; display: block">
                        </div>
                        <div style="font-size: 0.8em; font-weight: bold">
                        <input type="checkbox" onclick="_gaq.push(['_trackEvent', 'Select_Sets', '#{set.id}']);" name="set[]" value="${set.id}" id="${set.id}">
                        ${set.title} 
                        <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.id}">
                            <img style="padding: 2px 5px; vertical-align: top" src="/assets/external-link.png">
                        </a>
                        </div>
                    </label>
                </div>
            {{/each}}
        </div>
        <center class="push-down">
            <button class="btn large success"> Import Sets Now! </button>
        </center>
    <% end %>
</div>
</script>
<% end %>

<% end %>
