<% content_for :content do %>

<div class="main">
    <% if @fb_user and @flickr_user %>
        <div class="alert-message block-message success">
            <div class="row">
                <div class="share">
                    If you liked this service, let your friends know!
                    <a name="fb_share" share_url="http://export.goyaka.com">Share with Friends!</a> 
                    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
                    </script>
                </div>
            </div>
        </div>
        
        <ul class="tabs navtab">
          <li class="first"><a href="/migrate">Move photos</a></li>
          <li class="active"><a href="/status">Uploaded photos</a></li>
        </ul>
        <div id="sets" class="row">
            <div class="pull-right">
            <a href="/status" class="btn small"> <img src="/assets/refresh.png" style="vertical-align: middle;"> Refresh</a>
            </div>
            <div class="refresh alert-message info block-message">Once photos are uploaded, share with your friends. 
                <a data-controls-modal="modal-share-friends" data-backdrop="true" data-keyboard="true" class="btn small" href="#" id="share-with-friends">See how</a></div>
            <div id="queue">
                <div>
                        <div class="sets">
                        </div>
                </div>
            </div>
        </div>
    <% else %>
    <% end %>
</div>

<% if @fb_user %>

<script id="picasa_status_template" type="text/x-jquery-tmpl">
{{each(index, set) sets_tracked_picasa}}
    <div class="set">
    <label>
        <div class="cover">
            <img class="thumb" src="${set.picasa_data['group'][0]['thumbnail'][0]['url']}" width="75" height="75" style="margin: 0 auto; display: block">
            <div class="progressbar"><div class="fill" style="width:${set.percent}%">&nbsp;</div><div class="data">${set.done}/${set.total}</div></div>
        </div>
    </label>
    <div class="thumb-title">
        ${set.picasa_data['title'][0]['content']} <br/>
        <a target="_blank" href="${set.picasa_data['link'][1]['href']}">
            <img style="vertical-align: middle" src="/assets/picasaico.png">
        </a>
    </div>
    </div>
{{/each}}
</script>

<script id="flickr_status_template" type="text/x-jquery-tmpl">
{{each(index, set) sets_tracked_flickr}}
    <div class="set">
        <label>
            <div class="cover">
                <img class="thumb" id="${set.flickr_data.primary}" src="http://farm${set.flickr_data.farm}.staticflickr.com/${set.flickr_data.server}/${set.flickr_data.primary}_${set.flickr_data.secret}_s.jpg" style="margin: 0 auto; display: block">
                <div class="progressbar"><div class="fill" style="width:${set.percent}%">&nbsp;</div><div class="data">${set.done}/${set.total}</div></div>
            </div>
        </label>
        <div class="thumb-title">
            ${set.flickr_data.title}<br/>
            <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.flickr_data.id}">
                <img style="vertical-align: middle" src="/assets/flickrico.png">
            </a>
        </div>
    </div>
{{/each}}
</script>



<div id="modal-share-friends" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Share photos with your friends</h3>
  </div>
  <div class="modal-body">
    <p>Once uploaded, all photos and albums are by default private. Pick albums that you want to share with your Friends or Family.</p>
    <img class="share-photos-image" src="/assets/album-privacy-settings.jpg">
  </div>
  <div class="modal-footer">
    <a href="http://facebook.com/" target="_blank" class="btn primary">Go to Facebook</a>
    <a href="#" id="dialog-close" class="btn secondary">Close</a>
  </div>
</div>
<% end %>

<% end %>

<% content_for :javascript do %>


<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>

$(document).ready(function(){
    loadSetStatus()      
    $('#dialog-close').click(function() {
        $('#modal-share-friends').modal('hide')
    })
})
</script>


<% end %>